.quiz-layout {
  padding: 1rem;
  width: 50%;
}

.quiz-layout > * {
  margin-bottom: var(--spacing-20);
}

.quiz-layout h1 {
  font-size: var(--header-2);
  font-weight: 600;
}

.quiz-layout ul li {
  font-size: var(--body-2);
  list-style: none;
  margin-bottom: var(--spacing-4);
}

.btn {
  font-size: var(--body-1);
}

@media (max-width: 500px) {
  .quiz-layout {
    width: 100%;
  }
}
