.main-content {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-layout {
  display: flex;
}

.card {
  position: relative;
  margin: 5rem;
  height: 320px;
}

.btn {
  background-color: var(--primary-color);
  font-size: var(--body-3);
  font-weight: 500;
  min-width: 10rem;
  position: absolute;
  bottom: 1rem;
}

.btn:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 660px) {
  .quiz-layout {
    flex-direction: column;
  }
}
